<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h4>Angular 18 CRUD Operations with Local Storage</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SI. No.</th>
              <th>Employee Name</th>
              <th>Designation</th>
              <th>Salary</th>
              <th>State</th>
              <th>Pincode</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (item of employeeList; track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.designation}}</td>
                <td>{{item.salary}}</td>
                <td>{{item.state}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item.address}}</td>
                <td class="text-center">
                  <button class="btn btn-primary" (click)="onEdit(item)"><i class="bi bi-pen-fill"></i> Edit</button>
                  <button class="btn btn-danger mx-2" (click)="onDelete(item.id)"><i class="bi bi-archive-fill"></i> Delete</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h5>Employee Form</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name">
              <div class="text-danger">
                @if(employeeForm.controls['name'].touched){
                  @if(employeeForm.controls['name'].errors?.['required']){
                    <span>Name is required</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="designation">Designation</label>
              <input type="text" class="form-control" formControlName="designation">
              <div class="text-danger">
                @if(employeeForm.controls['designation'].touched){
                  @if(employeeForm.controls['designation'].errors?.['required']){
                    <span>Designation is required</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="salary">Salary</label>
              <input type="number" class="form-control" formControlName="salary">
              <div class="text-danger">
                @if(employeeForm.controls['salary'].touched){
                  @if(employeeForm.controls['salary'].errors?.['required']){
                    <span>Salary is required</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="state">State</label>
              <input type="text" class="form-control" formControlName="state">
              <div class="text-danger">
                @if(employeeForm.controls['state'].touched){
                  @if(employeeForm.controls['state'].errors?.['required']){
                    <span>State is required</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="pincode">Pincode</label>
              <input type="number" class="form-control" formControlName="pincode">
              <div class="text-danger">
                @if(employeeForm.controls['pincode'].touched){
                  @if(employeeForm.controls['pincode'].errors?.['required']){
                    <span>Pincode is required</span>
                  }
                  @if(employeeForm.controls['pincode'].errors?.['minlength']){
                    <span>Minimum length should be 6</span>
                  }
                }
              </div>
            </div>
            <div class="col-12">
              <label for="address">Address</label>
              <textarea type="text" class="form-control" formControlName="address"></textarea>
              <div class="text-danger">
                @if(employeeForm.controls['address'].touched){
                  @if(employeeForm.controls['address'].errors?.['required']){
                    <span>Address is required</span>
                  }
                }
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              @if (employeeForm.controls['id'].value == 0) {
                <button class="btn btn-success" [disabled]="employeeForm.invalid" (click)="onSave()">Add Employee</button>
              } @else {
              <button class="btn btn-warning" [disabled]="employeeForm.invalid" (click)="onUpdate()">Update Employee</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
